.rodape{
 
    background: rgba(255, 255, 255, 0.26);
    height: 135px;
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
 
}

.rodape-item{

    width: 300px;
    max-height: 135px;
    padding-top: 20px;

}

.info{

    margin-left: 75px;
}

.logo{

    margin-right: 10px;
    padding-top: 40px;

}

p{

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;

}

ul li{

    font-family: 'Inter', sans-serif;
    list-style: none;
    font-style: normal;
    color: #FFFFFF
    
}

